#cc5,#cc6,#cc7{ margin-left: 45px;

}

.yellow{ background-color:#FFFF00; 
}

button{ 
	margin-left: 45px;
	
}

.center{
	text-align: center;

	
}

.black{
	background-color:#808080;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	
	
}

li a{
color:white;
padding:12px 14px;
text-align:center;
text-decoration: none;
	
	
	
}

li a:hover{
	background-color:#111;
	
}

li{
	display: inline;
	float: left;
	
}
.currentpage{
	background-color: crimson;
	
	
}

.colour {
	color:#808080;
	
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td,.th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

